<!Doctype html>
<html lang="en">

  <head>
      <title>Sai fashion Zone</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="../css/style.css">
    </head>

  <body>
    <header>
      <nav class="nav-bar">

        <div>
          <ul class="left-links">
            <li><a href="Home">Home</a></li>
            <li><a href="Products">Collections</a></li>
            <li><a href="About us">About Us</a></li>
            <li><a href="Contact Us">Contact Us</a></li>
          </ul>
        </div>

        <div class="logo">
          SFZ
        </div>

        <div class="right-links">
          <a href="Cart">Wishlist</a>
        </div>

        
      </nav>
    </header>

    <section class="hero">
      <div class="hero-content">
        <h1>ELEVATE YOUR STYLE</h1>
        <p>Casual . Trendy . Formal</p>
        <Button>Shop Now</Button>
      </div>
    </section>
  </body>

</html>